prometheus:
  prometheusSpec:
    enableRemoteWriteReceiver: true
    retention: 15d
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi
grafana:
  service:
    type: NodePort
